BOT_TOKEN=8384272855:AAFJzQG-xv7uzN6R-0DyIeUghr6qJV_y7d0
AUTHORIZED_USERS=2047931706
APPLICATION_NUMBER=3209941425
DOB=04-03-1974
CHECK_INTERVAL=1800
CAPTCHA_METHOD=ai
GEMINI_API_KEY=AIzaSyBESa0zMX14svhczIh197fd_-3-PnIAROI

